# .env.example 
SNOWFLAKE_ACCOUNT=abc12345.us-central1.gcp
SNOWFLAKE_USER=SVC_DEPLOY
SNOWFLAKE_ROLE=ROLE_DEPLOY
SNOWFLAKE_WAREHOUSE=WH_DEPLOY_XS
SNOWFLAKE_PRIVATE_KEY_PATH=~/.snowflake/keys/svc_deploy_rsa_key.p8
SNOWFLAKE_DEFAULT_ENV=dev